        <div class="tab__panel" role="tabpanel" id="tab-icons" aria-labelledby="tab-btn-icons" hidden>
            <section class="demo-section">
                <h2>Icon Library</h2>
                <p class="lead">Complete icon set available in the assets/icons/ folder.</p>

                <div class="icon-grid">
                    <div class="icon-item">
                        <img src="assets/icons/arrow-right.svg" alt="Arrow Right">
                        <div class="text-sm mt-2">arrow-right</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/chevron-right.svg" alt="Chevron Right">
                        <div class="text-sm mt-2">chevron-right</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/chevron-right-o.svg" alt="Chevron Right Outlined">
                        <div class="text-sm mt-2">chevron-right-o</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/chevron-right-r.svg" alt="Chevron Right Rounded">
                        <div class="text-sm mt-2">chevron-right-r</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/comment.svg" alt="Comment">
                        <div class="text-sm mt-2">comment</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/dribbble.svg" alt="Dribbble">
                        <div class="text-sm mt-2">dribbble</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/facebook.svg" alt="Facebook">
                        <div class="text-sm mt-2">facebook</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/figma.svg" alt="Figma">
                        <div class="text-sm mt-2">figma</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/framer.svg" alt="Framer">
                        <div class="text-sm mt-2">framer</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/instagram.svg" alt="Instagram">
                        <div class="text-sm mt-2">instagram</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/log-in.svg" alt="Log In">
                        <div class="text-sm mt-2">log-in</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/moon.svg" alt="Moon">
                        <div class="text-sm mt-2">moon</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/notes.svg" alt="Notes">
                        <div class="text-sm mt-2">notes</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/phone.svg" alt="Phone">
                        <div class="text-sm mt-2">phone</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/smartphone.svg" alt="Smartphone">
                        <div class="text-sm mt-2">smartphone</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/sun.svg" alt="Sun">
                        <div class="text-sm mt-2">sun</div>
                    </div>
                    <div class="icon-item">
                        <img src="assets/icons/trophy.svg" alt="Trophy">
                        <div class="text-sm mt-2">trophy</div>
                    </div>
                </div>
            </section>
        </div>

